h1 {
color:LightSeaGreen;
}

h3 {
color:LightSeaGreen;
}

h2 {
color:LightSeaGreen;
}

h4 {
color:LightSeaGreen;
}

h6 {
color:black;
}
.create-subscription-form {
    width: 70%;
    margin: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

body {background-color: azure}