<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="main.css" rel="stylesheet4">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

    <title>Aktuelle Anmeldungen</title>

</head>
<body>
<h2> Anmeldungen im Überblick </h2>

<table class="tb" id="numberofparticipants">
    <tr>
        <th>Datum</th>
        <th>Anzahl Teilnehmer</th>
        <th>Einnahmen pro Kurs</th>
    </tr>
        {% for course in kurse %}
    <tr>
        <td>{{course.date}}</td>
        <td>{{course.numberOfParticipants}}</td>
        <td>{{course.money}} CHF</td>

    </tr>
        {% endfor %}

</table>

<h2>Gesamteinnahmen </h2>
<p>{{ total }} CHF</p>

<table>
    <tr>
        <th>Name</th>
        <th>Vorname</th>
        <th>geschlecht</th>
        <th>geburtstag</th>
        <th>adresse</th>
        <th>mail</th>
        <th>telefon</th>
        <th>level</th>
        <th>Advanced</th>
        <th>Intermediate</th>
        <th>Beginner</th>
        <th>Surfboard</th>
        <th>Transport</th>
        <th>Versicherung</th>

    </tr>
    {% for eingabe in anmeldungen %} <!-- anmeldungen inhalt von json file -->
    <tr>
        <td>{{eingabe.name}}</td>
        <td>{{eingabe.vorname}}</td>
        <td>{{eingabe.geschlecht}}</td>
        <td>{{eingabe.geburtstag}}</td>
        <td>{{eingabe.adresse}}</td>
        <td>{{eingabe.telefon}}</td>
        <td>{{eingabe.mail}}</td>
        <td>{{eingabe.level}}</td>
        <td>{{eingabe.datumAdvanced}}</td>
        <td>{{eingabe.datumIntermediate}}</td>
        <td>{{eingabe.datumBeginner}}</td>
        <td>{{eingabe.surfboard}}</td>
        <td>{{eingabe.transport}}</td>
        <td>{{eingabe.versicherung}}</td>

    </tr>
    {% endfor %}

</table>

<!-- Quelle: https://pythonexamples.org/python-list-of-dictionaries/ -->

</body>
</html>