<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formular Surflesson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Hello {{ name }} </h1>
    <h2>Melde dich hier an für eine Surf-Lektion mit Olivia.</h2>

<form method="POST">
    <ul>
            <h4>Vorname</h4>
        <input type="text" name="vorname" placeholder="Bitte geben Sie Ihren Vornamen ein">
            <br><br/>
            <h4>Name</h4>
        <input type="text" name="name" placeholder="Bitte geben Sie Ihren Namen ein">
            <br><br/>
            <h4>Adresse</h4>
        <input type="text" name="adresse" placeholder="Bitte geben Sie Ihre Adresse ein">
            <br><br/>
            <h4>Geburtstag</h4>
        <input type="text" name="geburtstag" placeholder="Bitte geben Sie Ihren Geburtstag ein">
            <br><br/>
            <h4>E-Mail</h4>
        <input type="text" name="mail" placeholder="Bitte geben Sie Ihre E-Mail ein">
            <br><br/>
            <h4>Telefonnummer</h4>
        <input type="text" name="telefon" placeholder="Bitte geben Sie Ihre Telefonnummer ein">
            <br><br/>

            <h2> Wann möchten Sie mit mir surfen?</h2>
            <a href="{{ url_for('hello')}}">Link zur Übersicht</a>

              <h4>Daten </h4>
            <input type="checkbox" id="sex" name="sex1" value="weiblich">
               <label for="sex"> weiblich </label><br>
               <input type="checkbox" id="sex2" name="sex2" value="männlich">
               <label for="sex2"> männlich</label><br>
               <input type="checkbox" id="sex3" name="vsex3" value="andere">
               <label for="sex3"> andere </label>
        <button type="submit">Senden</button>
    </ul>

</form>


</body>
</html>
