<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="main.css" rel="stylesheet3">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

    <h6>Yeah! Deine Anmeldung abgeschlossen.</h6>

</head>
<body>

<h1>Hey {{vorname}} </h1>
<h3> Danke für dein Buchung. Hier sind deine Buchungsdetails: </h3>
<p> Name: {{name}}</p>
<p> Vorname: {{vorname}}</p>
<p> Geschlecht: {{sex}}</p>
<p> Adresse: {{adresse}}</p>
<p> Geburtstag: {{geburi}}</p>
<p> E-Mail: {{mail}}</p>
<p> Telfonnummer: {{tel}}</p>

<h2> Dein Surf-Kalender:</h2>
<p> Dein Level: {{level}} </p>
<p> Deine Kurse:
    <ul>
{% for ding in beginnerdate %}
<li>{{ ding }}</li>

{% endfor %}

{% for ding in intermediatedate %}
<li>{{ ding }}</li>

{% endfor %}

{% for ding in advanceddate %}
<li>{{ ding }}</li>

{% endfor %}

</ul>

</p>

<p> Dein Endpreis: CHF {{costs}}.-  </p>
<h6> In Kürze wirst du eine Bestätigungs E-Mail erhalten inklusive Rechnungsdetails.</h6>

</body>
</html>