<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="main.css" rel="stylesheet3">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

    <titel>Anmeldung abgeschlossen.</titel>
</head>
<body>

<h2>Hey {{vorname}} </h2>
<h3> Danke für dein Buchung. Hier sind deine Buchungsdetails: </h3>
<h6> Name: {{name}}</h6>
<h6> Vorname: {{vorname}}</h6>
<h6> Geschlecht: {{sex}}</h6>
<h6> Adresse: {{adresse}}</h6>
<h6> Geburtstag: {{geburi}}</h6>
<h6> E-Mail: {{mail}}</h6>
<h6> Telfonnummer: {{tel}}</h6>

<h2> Dein Surf-Kalender:</h2>
<h6> Dein Level: {{level}} </h6>
<h6> Deine Kurse:

    <ul>
{% for ding in beginnerdate %}
<li>{{ ding }}</li>

{% endfor %}

{% for ding in intermediatedate %}
<li>{{ ding }}</li>

{% endfor %}

{% for ding in advanceddate %}
<li>{{ ding }}</li>

{% endfor %}

</ul>

</h6>

<h6> Endpreis: {{costs}} Fr. </h6>

</body>
</html>